<div>

  <span>
    <label for="view-name">View name </label>
    <input nz-input  [(ngModel)]="value" />
  </span> <br/>

  <span>
    <label for="type">Type </label>
    <span>
      <button nz-button nzType="primary">Primary Button</button>
      <button nz-button nzType="default">Default Button</button>
      <button nz-button nzType="dashed">Dashed Button</button>
    </span>
  </span>

  <span>
    <label for="description">Description (240 characters max) </label>
    <input nz-input value="" /> Lorem ipsum dolor sit amet consectetur,
    adipisicing elit. Quae inventore illum ullam cum at magni perspiciatis
    hic laborum, nobis, temporibus quas culpa deserunt animi. Amet impedit
    aliquam repudiandae dolores accusamus.
  </span> <br/>

  <span>
    <button nz-button nzType="primary">Primary Button</button>
    <button nz-button nzType="default">Default Button</button>
  </span>




</div>
