
<div [ngStyle]="{'width.px': 480, 'height.px': 527, 'top.px':176, 'left.px': 1680, 'raduis.px':16, 'padding.px': [36,36,24,36], 'gap.px': 24, 'color': '#FCFCFC', 'box-shadow': '0px 4px 6px 0px rgba(0, 0, 0, 0.1)' }">


  <div [ngStyle]="{'width.px': 408, 'height.px': 31, 'justify':'space-between'}">


      <h2 nz-typography [ngStyle]="{'width.px': 104, 'height.px': 31, 'font-family':'TheSans Veolia', 'weight':700,'size.px': 24, 'line-height.px': 31.2, 'color': '#1C1C1F'}">New view </h2>


      <span [ngStyle]="{'width.px': 44, 'height.px': 16, 'gap.px':12 }">

        <button nz-button [ngStyle]="{'width.px': 16, 'height.px': 16, 'style':'outline'}" > <span nz-icon nzType="reload" nzTheme="outline"></span> </button>
        <button nz-button [ngStyle]="{'width.px': 16, 'height.px': 16}" (click)="CloseOverlay()"> <span nz-icon nzType="close" nzTheme="outline"></span> </button>

      </span>

  </div>

  <div [ngStyle]="{'width.px': 408, 'height.px': 36, 'raduis.px':4, 'padding.px': 2, 'gap.px':4}">

    <button ngType="primary" [ngStyle]="{'border-color': '#0002A9','bacground-color': '#0002A9', 'width.px': 200, 'height.px': 32, 'corner-raduis.px':4, 'border.px':1, 'padding.px': [4,6,4,6], 'gap.px':4}">Blank view</button>
    <button [ngStyle]="{'width.px': 131, 'height.px': 24, 'padding':[0,8,0,8]}">View from existing </button>

  </div>





 </div>

